@model Portable.Models.Ecuaciones
@{

    var iteraciones = ViewBag.Iteraciones as List<Portable.Models.Iteraciones>;
}




@if (iteraciones != null && iteraciones.Count > 0)
{
    <h3>Cuadro de Iteraciones</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>X0</th>
                <th>X1</th>
                <th>X2</th>
                <th>f(X0)</th>
                <th>f(X1)</th>
                <th>f(X2)</th>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var it in iteraciones)
            {
                <tr>
                    <td>@it.Numero</td>
                    <td>@it.X0</td>
                    <td>@it.X1</td>
                    <td>@it.X2</td>
                    <td>@it.FX0</td>
                    <td>@it.FX1</td>
                    <td>@it.FX2</td>
                    <td>@it.Error</td>
                </tr>
            }
        </tbody>
    </table>
}